---
import Layout from "../layouts/Layout.astro";
import List from "../components/List.astro";
import "../styles/index.css";
---

<Layout>
  <main>
    <h1>Welcome to <span class="text-gradient">Films✨</span></h1>
    <List />
  </main>
</Layout>
